.carousel-item {
    height: 85vh;
}

#parallax {
	padding: 0;
}
#parallax .section-titlee {
  height: 350px;
	background: #444 url(../../src/pete-wright-n1RJ7pXgGTE-unsplash.jpg) center center no-repeat fixed;
	background-size: cover;
}
#parallax .section-titlee h2 {
  padding: 120px; 
	color: #fff;
}
#parallax img {
	width: 300px;
	-webkit-box-shadow: 15px 0 #a7c44c;
	        box-shadow: 15px 0 #a7c44c;
}
#parallax h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#parallax .menu-section hr {
	margin: 0 auto;
}
#parallax .menu-section {
	margin: 0 20px 80px;
}

.section-titlee .overlay {
  padding: 175px;
	background: rgba(0, 0, 0, 0.2);
}

.nav-item {
    padding: 1rem;
}

a:hover {
    /* color: #0056b3; */
    text-decoration: none;
}

.nav-item a{
    font-weight: bold;
}

.section-padding {
    padding: 60px 0;
}

.section-padding-sede {
    padding: 0 0 60px 0
}

.section-padding-less {
    padding: 30px 0;
}

.margin{
    margin: 2rem auto;
}

.padding-lados{
    padding: 0px 10rem;
}

.section-padding-productos{
    padding: 60px 0;
    background: #2c2d5c;
    margin-top: 20px;
    box-shadow: 0 5px 5px -5px #333;

}

.section-title {
    font-size: 36px;
    line-height: 52px;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding: 30px 0;
    position: relative;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 3rem;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 70%;
}

.card-producto{
    transition: all 200ms;
    width: 250px;
    height: auto;
    margin-top: 50px;
    border-radius: 6px;
    transition: all 200ms ease 0s;
}

.card-producto img{
    width: 220px;
    height: auto;
}

.card-marca img{
    max-width: 100%;
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition:-webkit-filter 1s;
    -o-transition:filter 1s;
    transition:filter 1s;
    transition:filter 1s, -webkit-filter 1s;
    -webkit-transition:-webkit-filter 1s;
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}
.card-marca:hover img{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-transform: grayscale(0); 
    -o-transform: grayscale(0); 
}


.btn-modal{
    color: black;
    font-weight: bold;
    margin-top: 0.5rem;
}

.card-producto:hover a p{
    border-bottom: 2px solid #c55c2f;
    width: 45%;
    transition: all 200ms;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background: #2c2d5c;
    border-bottom: 5px solid #c55c2f;
}

.navbar-brand img{
    position: absolute;
    transform: translatey(-36%) translateX(10%);
    height: 200px;
    width: 250px;
}


.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 2px solid #c55c2f; 
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    border-bottom: 2px solid #c55c2f; 
}



.products{
    padding: 2rem;
}

.products a{
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    font-weight: bolder;
    text-transform: uppercase;
    text-transform: uppercase;
    transition: all 200ms;
}

.products a:hover{
    color: #fff;
    border-bottom: 5px solid #c55c2f; 
    border-bottom-width: 10%;
    text-decoration: none;
}

.products-less{
    padding: 0.9rem;
}

.products-less .active{
    border-bottom: 5px solid #c55c2f; 
}

.products-less a{
    color: #fff;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: all 200ms;
}

.products-less a:hover{
    color: #fff;
    border-bottom: 5px solid #c55c2f; 
    border-bottom-width: 10%;
    text-decoration: none;
}

.pro{
    width: 40rem;
    position: absolute;
    transform: translatey(-10rem) translateX(0rem);
}

.arriba{
    z-index: 3;
}



#contact {
    padding: 60px 0;
    background: #CA5C2E;
}

.btn-form{
    background-color: rgb(214, 213, 213);
    padding: 0.2rem 3rem;
    border-radius: 0.5rem;
    color: #000;
    font-weight: bold;
}
.btn-form:hover{
    background: #e1e1e1;
}

textarea.form-control {
    height: 235px;
}

#contact a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.form-control {
    margin-top: .5rem;
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1.7rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(214, 213, 213);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

label {
    display: inline-block;
    margin-bottom: 10rem;
    padding: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #fff;
    margin-bottom: 0;
    font-weight: bold;
}

#footer {
    background: #d09033 !important;
    box-shadow: 0 -5px 11px -2px #333;
    text-transform: uppercase;
}

.img-footer img{
    height: 80px;
}
#footer h5{
	padding-left: 10px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

section {
    padding: 60px 0;
}


.img-responsive{
    max-width:100%;
    width: 100%;
}

.rrss{
    color: #3b5998;
    
}


.redes{
    font-size: 12px;
    color: white;
    margin: -5px;
    font-weight: bold;
}

.text-center a i{
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
}

.nosotros h2{
    color: #CA5C2E;
    font-size: 2rem;
}

.nosotros ul{
    margin-right: 2.5rem;
}

.nosotros li{
    list-style: none;
}

.nosotros{
    padding: 2rem;
}


/* -- Paginacion -- */

.paginacion{
    margin-bottom: 30px;
}

.paginacion ul{
    list-style: none;
    text-align: center;
}

.paginacion ul li{
    display: inline-block;
    margin: 0 5px;
    color: #fff;
}

.paginacion ul li a{
    display: block;
    padding: 10px 20px;
    background: #595959;
    color: #fff;
}

.paginacion ul li a:hover{
    background: linear-gradient(to right, #CA5C2E, #2c2d5c);
    text-decoration: none;
}

.paginacion ul .active{
    background: linear-gradient(to right, #CA5C2E, #2c2d5c);
    padding: 10px 20px;
}

.paginacion ul .disable{
    background: #a8a8a8;
    padding: 10px 20px;
    cursor: not-allowed;
}

.paginacion ul .disable:hover{
    background: a8a8a8;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    padding: 5%;
}


.map {
    top: 50px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.local ul{
    margin-left: 5rem;
    font-weight: bold;
    list-style: none;
}

.local ul li p{
    margin: 0;
}

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color: #fff;
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    border-radius:10%;
    line-height:80px;
    text-align:center;
    z-index:999;
    box-shadow: #000;
  }


/*MEDIA QUERYs*/

@media(max-width:1300px){
    .pro{
        width: 32rem;
        position: absolute;
        transform: translatey(-11rem) translateX(0rem);
    }
}

@media(max-width:1040px){
    .pro{
        width: 22rem;
        /* float: right; */
        position: absolute;
        transform: translatey(-8rem) translateX(0rem);
    }
    .navbar-brand img{
        position: absolute;
        transform: translatey(-39%) translateX(-10%);
        height: 180px;
        width: 250px;    
    }
    
}

@media(max-width: 991px){
    .navbar-nav.navbar-center {
        position: relative;
        left: 0%;
        transform: translatex(0%);
    }
    .padding-lados{
        padding: 0;
    }

    .map iframe {
        height: 100%;
    }
    .local ul{
        margin-left: 0rem;
        font-weight: bold;
        list-style: none;
    }
}

@media(max-width:800px){
    .navbar-brand img{
        position: absolute;
        transform: translatey(-35%) translateX(-20%);
        height: 80px;
        width: 250px;
    }
}

@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

@media(max-width:730px){
    .pro{
        width: 15rem;
        /* float: right; */
        position: relative;
        transform: translatey(0) translateX(0);

    }
    .section-title {
        font-size: 36px;
        line-height: 52px;
        padding-bottom: 20px;
        text-transform: uppercase;
        padding: 30px 0;
        position: relative;
        color: #fff;
        margin-bottom: 15px;
        margin-left: 1rem;
    }
}


@media(max-width: 350px){    
    #parallax .section-titlee {
        height: 315px;
        background: #444 url(../../src/pete-wright-n1RJ7pXgGTE-unsplash.jpg) center center no-repeat fixed;
        background-size: cover;
    }
    .section-titlee .overlay {
        padding: 155px;
        background: rgba(0, 0, 0, 0.2);
    }   
}
